<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>993481049055-i4hvomuadsu0ttl856c4esoilnr6mct2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.993481049055-i4hvomuadsu0ttl856c4esoilnr6mct2</string>
	<key>API_KEY</key>
	<string>AIzaSyBafXogbQJadrw4K1tsHM7bp0rDx18XfsY</string>
	<key>GCM_SENDER_ID</key>
	<string>993481049055</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>it.athesys.mfa-app</string>
	<key>PROJECT_ID</key>
	<string>monokee-mfa-app</string>
	<key>STORAGE_BUCKET</key>
	<string>monokee-mfa-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:993481049055:ios:82db154825f95ccad97a6a</string>
</dict>
</plist>